<div style="color: #ff2222; margin-bottom: 10px; font-family: Verdana; font-size: 13px;"><%= flash[:alert] %></div>

<% form_tag(:action => "new") { %>
	Handle: <input type="text" name="player[handle]" id="player[handle]" />
	Password: <input type="password" name="player[password]" id="player[password]" />
	<input type="submit" value="Sign up">
<% } %>