body {
	margin:140px; padding:0px;
	text-align:center;
	background-color: #211eab;
}

/* Board */
#category_title {
	font-family: Optima;
	color: white;
	font-size: 18px;
}

#category_title a {
	color: white;
}

#board a {
	text-decoration: none;
}

#board a.dollar {
	font-family: Optima;
	font-size: 30px;
	color: #ffdb60;
	font-weight: bold;
}

#board a.dollar:hover {
	text-decoration: underline;
}


#board a.final {
	font-size: 40px;
	font-variant: small-caps;
	font-family: Optima; 
	color: white; 
	padding-top: 20px;
}

/* Question */
#question {
	width:500px;
	margin:0px auto;
	text-align:center;
	padding:15px;
	color: white;
	font-family: Optima;
	font-variant: small-caps;
	font-size: 45px;
	line-height: 100%;
}

#question a {
	color: white;
	color: #ffdb60;
}
#value {
	font-size: 30px;
	font-weight: bold;
	font-family: Optima;
	color: #ffdb60;
}

#ffinger {
	background-color: #211eab; 
	border: none; 
	text-align: center; 
	color: #ffdb60; 
	font-family: Optima;
	font-variant: small-caps;
	font-size: 30px;
}

#outcome {
	margin-top: 15px;
	font-family: Optima;
	color: white;
}

#stumper {
	font-family: Optima;
	font-size: 25px;
	font-variant: small-caps;
}

#stumper a {
	color: white;
}

.wager {
	color: white;
	font-family: Optima;
	font-variant: small-caps;
	width:500px;
	margin:0px auto;
}

.wager a {
	color: white;
}

#out {
	border: 5px solid #211eab;
	margin-bottom: 5px;
	width: 1000px;
}

#d2 {
	background-color: #211eab;
	border: none;
	color: #211eab;
	font-size: 20px;
	font-family: Optima;
	font-variant: small-caps;
	text-align: center;
}

.fj {
	background-color: #211eab;
	color: white;
	font-family: Optima;
	font-weight: bold;
	border: 1px dashed white;
	font-size: 16px;
	text-align: center;
	padding: 7px;
}

#fj_category {
	font-family: Optima;
	color: #ffdb60;
}

#edit_value {
	color: white;
	border: none;
	background-color: #211eab;
	font-size: 10px;
	text-align:center;
}

#edit_question {
	color: white;
	border: 1px solid gray;
	background-color: #211eab;
	font-family: sans-serif;
	padding: 5px;
	font-size: 10px;
	height: 100px;
}

#edit_answer {
	color: white;
	border: 1px solid gray;
	background-color: #211eab;
	font-size: 10px;
	text-align: center;
}