<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<%= javascript_include_tag "jquery-1.3.2.min.js", "jquery-ui-slider.min.js", "jquery.autocomplete.js" -%>
<%= stylesheet_link_tag 'main', "jquery-ui-slider.css", "jquery.autocomplete.css" -%>

</head>
<body id="question">

	<style type="text/css">
			#demo-frame > div.demo { padding: 10px !important; };
		</style>
		<script type="text/javascript">
		var category_ids = [];
		$(function() {
			$("#slider-range").slider({
				range: true,
				min: 100,
				max: 2000,
				step: 100,
				values: [300, 800],
				slide: function(event, ui) {
					$("#amount").val('$' + ui.values[0] + ' - $' + ui.values[1]);
					$("#value_min").attr("value", ui.values[0]);
					$("#value_max").attr("value", ui.values[1]);
				}
			});
			$("#amount").val('$' + $("#slider-range").slider("values", 0) + ' - $' + $("#slider-range").slider("values", 1));
			
			$("#season-slider-range").slider({
				range: true,
				min: 1,
				max: 26,
				step: 1,
				values: [20, 26],
				slide: function(event, ui) {
					$("#seasons").val(ui.values[0] + ' - ' + ui.values[1]);
					$("#season_min").attr("value", ui.values[0]);
					$("#season_max").attr("value", ui.values[1]);
				}
			});
			$("#seasons").val($("#season-slider-range").slider("values", 0) + ' - ' + $("#season-slider-range").slider("values", 1));
		});
		$(document).ready(function() {
			$("#search").blur(function() {
				$("#search_terms").attr("value", $("#search").attr("value"));
			});
			
			function formatItem(row) {
				row = row[0].split(",");
				return row[0] + " (" + row[1] + " questions)";
			};
			var data = "/blast/get_categories";
			$("#categories").autocomplete(data, {
				matchContains: true,
				multiple: false,
				formatItem: formatItem
			});
			$("#categories").result(function(ev, data, formatted) {
				data = data[0].split(",");
				$("#categories").val("");
				$("<li id='li-" + data[2] + "'>").html(data[0] + ' <a href="#" class="rm-cat" id="cat-' + data[2] + '"> X</a>').appendTo("#chosen");
				category_ids.push(data[2]);
				$("#category_ids").attr("value", category_ids.join(","));
			});
			$(".rm-cat").live("click", function() {
				var id = $(this).attr("id").split("-")[1];
				category_ids.splice(category_ids.indexOf(id), 1);
				$("#category_ids").attr("value", category_ids.join(","));
				$("#li-" + id).remove();
			});
		})
		</script>
	<div style="text-align: center;">
		<h2>Set question constraints</h2>
		<p>We will set up your game with the intersection of the question sets specified by the constraints below. Leave #3 or #4 blank for the most generality.</p>

		<div class="demo" style="margin-left: 40px;">

		<p>
		<label for="amount">1. Only include questions worth:</label>
		<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;" />
		</p>
	
		<div id="slider-range" style="width: 500px"></div>
	
		<p>
		<label for="seasons">2. Only include questions from seasons:</label>
		<input type="text" id="seasons" style="border:0; color:#f6931f; font-weight:bold;" />
		</p>
	
		<div id="season-slider-range" style="width: 500px"></div>
	
		<p>
		<label for="categories">3. Only include questions in these categories (leave blank for all):</label>
		<input type="text" id="categories" style="width: 300px;"/>
		</p>
		<ol id="chosen">
		</ol>
	
		<p>
		<label for="search">4. Only include questions that have these terms (separate with commas):</label>
		<input type="text" id="search" style="width: 300px;"/>
		</p>

		</div><!-- End demo -->
		
		<script language="javascript" src="/javascripts/simpleswap.js"></script>
		<% form_tag({:controller => "blast", :action => "play"}) do -%>
			<input type="hidden" id="value_min" name="value_min" value="100"/>
			<input type="hidden" id="value_max" name="value_max" value="2000"/>
			<input type="hidden" id="season_min" name="season_min" value="20"/>
			<input type="hidden" id="season_max" name="season_max" value="26"/>
			<input type="hidden" id="category_ids" name="category_ids" value=""/>
			<input type="hidden" id="search_terms" name="search_terms" value=""/>
			<input type="image" src="/images/submit_constraints.png" oversrc="/images/submit_constraints-hover.png"/>
		<% end %>
	</style>
</body>
</html>