<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<%= javascript_include_tag "jquery-1.3.2.min.js", "jquery-ui-slider.min.js", "jquery.autocomplete.js" -%>
<%= stylesheet_link_tag 'main', "jquery-ui-slider.css", "jquery.autocomplete.css" -%>

</head>
<body>

	<style type="text/css">
		#demo-frame > div.demo { padding: 10px !important; };
		a {
			
		}
	</style>
	
	<script type="text/javascript">
		var category_ids = [];
		$(function() {
			$("#slider-range").slider({
				range: true,
				min: 100,
				max: 2000,
				step: 100,
				values: [300, 800],
				slide: function(event, ui) {
					$("#amount").val('$' + ui.values[0] + ' - $' + ui.values[1]);
					$("#value_min").attr("value", ui.values[0]);
					$("#value_max").attr("value", ui.values[1]);
				}
			});
			$("#amount").val('$' + $("#slider-range").slider("values", 0) + ' - $' + $("#slider-range").slider("values", 1));
			
			$("#season-slider-range").slider({
				range: true,
				min: 1,
				max: 26,
				step: 1,
				values: [20, 26],
				slide: function(event, ui) {
					$("#seasons").val(ui.values[0] + ' - ' + ui.values[1]);
					$("#season_min").attr("value", ui.values[0]);
					$("#season_max").attr("value", ui.values[1]);
				}
			});
			$("#seasons").val($("#season-slider-range").slider("values", 0) + ' - ' + $("#season-slider-range").slider("values", 1));
		});
		$(document).ready(function() {
			$("#search_terms").attr("value", "");
			$("#search").attr("value", "");
			$("#value_min").attr("value", "300");
			$("#value_max").attr("value", "800");
			$("#search").blur(function() {
				$("#search_terms").attr("value", $("#search").attr("value"));
			});
			$("#search").keydown(function(ev) {
				if (ev.keyCode == 13) {
					$("#search_terms").attr("value", $("#search").attr("value"));
					$("#submit-constraints").submit();
				}
			});
			
			function formatItem(row) {
				row = row[0].split(",");
				return row[0] + " (" + row[1] + " questions)";
			};
			var data = "/blast/get_categories";
			$("#categories").autocomplete(data, {
				matchContains: true,
				multiple: false,
				formatItem: formatItem
			});
			$("#categories").result(function(ev, data, formatted) {
				data = data[0].split(",");
				$("#categories").val("");
				$("<li id='li-" + data[2] + "'>").html(data[0] + ' <a href="#rm" class="rm-cat" style="color: #4183C4; text-decoration: none; border-bottom: 1px solid #4183C4;" id="cat-' + data[2] + '"> [X]</a>').appendTo("#chosen");
				category_ids.push(data[2]);
				$("#category_ids").attr("value", category_ids.join(","));
			});
			$(".rm-cat").live("click", function() {
				var id = $(this).attr("id").split("-")[1];
				category_ids.splice(category_ids.indexOf(id), 1);
				$("#category_ids").attr("value", category_ids.join(","));
				$("#li-" + id).remove();
			});
		})
		</script>
		<% if (a = flash[:alert]) %>
			<div id="flash_alert">
				<%= a %>
			</div>
		<% end %>
	<div style="margin:0 auto; text-align: center; font-family: Optima, Georgia, Verdana, sans-serif;">
		<h1>First, build your game. Then play!</h1>
		<p>Specify what kinds of questions you'd like in your game by playing with the constraints below.<br/> <small>(We use the <strong>smallest possible set of questions</strong> that satisfies all your criteria, and we try to <strong>randomize</strong> where possible.)</small></p>

		<div class="demo" style="margin-left: 40px;">
		<table style="margin:0 auto;">
			<tr>
				<td valign="top" style="font-size: 35px; font-weight: bold; color: #555">1.</td>
				<td><div style="border: 2px solid #ccc; width: 650px; margin: 0 auto; margin-bottom: 20px;">
					<p>
					<label for="amount">Only include questions <strong>worth</strong>:</label><br/>
					<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold; font-size: 24px; width: 190px; text-align: center;" />
					</p>
	
					<div id="slider-range" style="width: 500px; margin: 0 auto; margin-bottom: 20px;"></div>
				</div></td>
			</tr>
			<tr>
				<td valign="top" style="font-size: 35px; font-weight: bold; color: #555">2.</td>
				<td><div style="border: 2px solid #ccc; width: 650px; margin: 0 auto; margin-bottom: 20px;">
					<p>
					<label for="seasons">Only include questions from <strong>seasons</strong>:</label><br/>
					<input type="text" id="seasons" style="border:0; color:#f6931f; font-weight:bold; font-size: 24px; width: 100px; text-align: center;" />
					</p>
	
					<div id="season-slider-range" style="width: 500px; margin: 0 auto; margin-bottom: 20px;"></div>
				</div></td>
			</tr>
				<tr><td valign="top" style="font-size: 35px; font-weight: bold; color: #555">3.</td>
				<td><div style="border: 2px solid #ccc; width: 650px; margin: 0 auto; margin-bottom: 20px;">
					<p>
					<label for="categories">Only include questions in these <strong>categories</strong>:<br/></label>
					<input type="text" id="categories" style="width: 300px; margin-top: 5px; margin-left: 115px; font-size: 15px; text-align: center; padding: 4px;"/> <span style="color: #444; font-size: 12px;"><img src="/images/loader.gif" style="display: none;" id="loader"/> (start typing to search)</span>
					</p>
					<ol id="chosen" style="text-align: left;">
					</ol>
				</div></td>
			</tr>
			<tr>
				<td valign="top" style="font-size: 35px; font-weight: bold; color: #555">4.</td>
				<td><div style="border: 2px solid #ccc; width: 650px; margin: 0 auto; margin-bottom: 20px;">
					<p>
					<label for="search">Only include questions that have these <strong>terms</strong>:<br/></label>
					<input type="text" id="search" style="width: 300px; margin-top: 5px; margin-left: 155px; font-size: 15px; text-align: center; padding: 4px;"/> <span style="color: #444; font-size: 12px;">(separate terms with <strong style="color: #444">commas</strong>)</span>
					</p>
				</div><td>
			</tr>
		</div><!-- End demo -->
	</table>
		
		<script language="javascript" src="/javascripts/simpleswap.js"></script>
		<div style="margin-bottom: 10px; margin-left: 40px; text-align: center;">
			<% form_tag({:controller => "blast", :action => "play"}, {:id => "submit-constraints"}) do -%>
				<input type="hidden" id="value_min" name="value_min" value="300"/>
				<input type="hidden" id="value_max" name="value_max" value="800"/>
				<input type="hidden" id="season_min" name="season_min" value="20"/>
				<input type="hidden" id="season_max" name="season_max" value="26"/>
				<input type="hidden" id="category_ids" name="category_ids" value=""/>
				<input type="hidden" id="search_terms" name="search_terms" value=""/>
				<input type="image" src="/images/build_game.png" oversrc="/images/build_game-hover.png"/>
			<% end %>
		</div>
		<div style="margin:0 auto; margin-bottom: 100px; text-align: center;">
			(This may take a while if you haven't added category or search-term constraints.)
		</div>
	</style>
</body>
</html>