<div id="instructions">
	<div id="ffinger"><small><span id="question_value">thanks for playing</span></small><br/><span id="question_category">GAME OVER!</span></div>
	<div id="q" style="font-variant: normal; font-size: 18px; line-height: 1.2em;"><p>Your 2 questions have been loaded. Once you click the "Start" button below, your game will begin. <br/><br/>To answer a question, <a href="#" id="type-help">type</a> your answer into the box and hit ENTER. Leave the space blank if you'd like to pass.<br/><br/></div>
		<input type="image" src="/images/start-hover.png" oversrc="/images/start.png" id="start"/>
</div>