<%= javascript_include_tag "jquery-1.3.2.min.js" -%>
<script language="javascript" src="/javascripts/simpleswap.js"></script>
<style type="text/css">
	#tooltip {
		position: absolute;
		z-index: 3000;
		border: 1px solid #86acc1;
		background-color: #fff;
		opacity: 0.85;
		max-width: 450px;
	}
	#tooltip .contain {
		background: #cde9f8;
		border: 2px solid #fff;
		color: black;
		padding: 5px;
	}
	#tooltip h3, #tooltip div { 
		margin: 0;
		font-size: 12px;
		font-weight: bold;
	}
</style>
<script type="text/javascript">
	var decasec = 0;
	var seconds = 0;
	var mins = 0;
	function timer() {
		if (seconds >= 59 && decasec >= 9) {
			seconds = -1
			mins += 1
		}
		if (decasec >= 9) {
			decasec = -1
			seconds += 1
		}
		decasec += 1
		$("#timer").attr("value", (mins <= 9 ? "0" + mins : mins) + ":" + (seconds <= 9 ? "0" + seconds : seconds));
		setTimeout("timer()", 100);
	};
	
	var nil = function() {
		return null
	}
	
	var validate = function(guess, answer, value) {
		if (guess == "") {
			$("#outcome").css("color", "white");
			$("#outcome").html(answer);
			setTimeout("load_question(" + position + ")", 1000);
		} else {
			correct = true;
			words = guess.toLowerCase().split(" ");
			for (i = 0; i < words.length; i++) {
				word = words[i];
				if (answer.toLowerCase().indexOf(word) == -1) {
					correct = false;
					break;
				}
			};
			var old_score = parseFloat($("#score").html());
			var value = parseFloat(value);
			if (correct) {
			   $("#outcome").css("color", "#33ff33");
			   $("#outcome").html(answer);
			   var new_score = old_score + value;
			   $("#score").html(new_score);
			   if (new_score >= 0) {
					$("#score_container").css("color", "#33ff33");
			   } else {
					$("#score_container").css("color", "red");
			   };
			   setTimeout("load_question(" + position + ")", 1000);
			} else {
				$("#outcome").css("color", "red");
				$("#outcome").html(answer);
				var new_score = old_score - value;
				$("#score").html(new_score);
				if (new_score >= 0) {
					$("#score_container").css("color", "#33ff33");
				} else {
					$("#score_container").css("color", "red");
				};
				setTimeout("load_question(" + position + ")", 1000);
			};
		};
	};
	
	var question_ids = [<%= @question_ids %>];
	var position = 0;
	var load_question = function(index) {
		q_id = question_ids[index];
		position += 1;
		$.get("/blast/fetch_question", 
			{ authencity_token: AUTH_TOKEN, q_id: q_id },
			function(ret) {
				$("#q").html(ret["question"]);
				$("#answer").attr("value", ret["answer"]);
				$("#question_value").html(ret["value"]);
				$("#question_category").html(ret["category"]);
				$("#guess").attr("value", "");
				$("#guess").focus();
				$("#outcome").html("");
				$("#progress").text(position);
			}, 
			"json"
		)
	}
	$(document).ready(function() {
		
		$("#start").click(function() {
			$("#instructions").remove();
			$("#game_area").show();
			timer();
			load_question(position);
		});
		
		$("#type-help").live("mouseover",
			function(ev) {
				$("#tooltip").show();
			}
		);

		$("#type-help").live("mouseout",
			function(ev) {
				$("#tooltip").hide();
			}
		);

		$("#type-help").live("mousemove",
			function(ev) {
				$("#tooltip").css("top", ev.pageY - 30 + "px");
				$("#tooltip").css("left", ev.pageX + 20 + "px");
			}
		);
		$("#guess").keydown(function(e) {
			if (e.keyCode == 13) {
				validate($("#guess").attr("value"), $("#answer").attr("value"), $("#question_value").html())
			}
		});
	});

</script>

<div style="margin:0px; border-bottom: 1px solid white; width: 500px; text-align: center; margin:0 auto; margin-bottom: 40px;">
	<input type="text" id="timer" value="00:00" style="color: white; font-family: Optima; font-size: 26px; margin-left: 60px; text-align: center; background: #211EAB; border:none; width: 80px;"/>
	<span id="score_container" style="color: white; font-family: Optima; font-size: 26px; color: #33ff33;">&raquo; $<span id="score">0</span></span>
	<span id="progress_container" style="color: white; font-family: Optima; font-size: 20px; color: white; padding-top: 5px; float: right; vertical-align: bottom;"> (<span id="progress">0</span> of <%= @question_ids.split(",").length %>)</span>
</div>
<div id="instructions">

	<div id="ffinger"><small><span id="question_value">welcome to</span></small><br/><span id="question_category">JEOPARDY BLAST!</span></div>
	<div id="q" style="font-variant: normal; font-size: 18px; line-height: 1.2em;"><p>Your <%= @question_ids.split(",").length %> questions have been loaded. Once you click the "Start" button below, your game will begin. <br/><br/>To answer a question, <a href="#" id="type-help">type</a> your answer into the box and hit ENTER. Leave the space blank if you'd like to pass.<br/><br/></div>
		<input type="image" src="/images/start-hover.png" oversrc="/images/start.png" id="start"/>
</div>	
	
	
<div id="game_area" style="display: none;">
	<div id="ffinger"><small>$<span id="question_value"></span></small><br/><span id="question_category"></span></div>
	<div id="q"></div>
		<input id="guess" name="guess" type="text" style="font-size: 25px; text-align: center; padding: 4px;" tabindex="1">
		<span id="outcome_container" style="font-family: Optima; font-size: 26px;"><span id="outcome"></span></span>
		<input id="answer" name="answer" type="hidden" value=""/>
</div>




<div id="tooltip" style="display: none; right: auto; text-align: left; font-weight: normal; font-family: Arial;">
	<div class="contain" style="font-weight: normal;">
		<span id="show-note">
			<h2 style="margin: 0px; padding: 0px;">Typing answers</h2>

			<p>The function for validating answers works by (1) assuming the guess is correct, (2) breaking the guess into words, and (3) checking whether each word is contained somewhere in the answer; if not, the player's wrong. <strong>Case doesn't matter</strong>.</p>

			<p>One helpful rule of thumb is: if the spelling of something is ambiguous, leave it out. If you're not sure whether it's <strong>Bonnie and Clyde</strong> or <strong>Bonnie & Clyde</strong>, just type <strong>bonnie clyde</strong>. If you can't decide between <strong>Clide</strong> and <strong>Clyde</strong>, try <strong>bon cl</strong>. Go with enough to unambiguously pin down an answer, and no more.</p>
		</span>
	</div>
</div>