<div class="articleSummary clearfix">  
  <div class="details">
    <div class="title">
      <%= article.question %>
    </div>
    
    <div class="date">
      <small>Game #<%= article.game.game_id %>, Season <%= article.game.season %></small>
    </div>
    
    <div class="content">
      <%= article.answer %>
    </div>
  </div>
</div>