<div class="span12">
  <div class="page-header">
    <h1>
      <a href="/" class="logo"><%= name_of_site %></a><br>
    </h1>
  </div>

  <div class="span9">
    <div id="faq">
      <a href="/" class="homeNav">Home</a>

      <dl>
        <dt class="first">What is this?</dt>
        <dd>Wedding Crunchers lets you measure the frequency of specific phrases in <a href="http://www.nytimes.com/pages/fashion/weddings/index.html" target="_blank"><i>New York Times</i> wedding announcements</a> since 1981. When you search for a phrase, Wedding Crunchers graphs how common that phrase has been over time. The project was heavily inspired by the <a href="http://books.google.com/ngrams" target="_blank">Google Books Ngram Viewer</a></dd>

        <dt>I love it! Where can I read more about it?</dt>
        <dd>There's a detailed writeup on <%= link_to "Rap Genius", writeup_url, :target => "_blank" %>, of course</dd>

        <dt>How many articles are searched?</dt>
        <dd>About 60,000 wedding and engagement announcements from 1981 through today. Articles that are part of the <a href="http://topics.nytimes.com/topics/features/style/fashionandstyle/columns/vows/index.html" target="_blank">Vows column</a> are specifically excluded, because they are written in a very different style from the regular announcements</dd>

        <dt>What about punctuation and case sensitivity?</dt>
        <dd>Wedding Crunchers is <em>not</em> case sensitive. Most punctuation is stripped out for you automatically, so you don't have to worry about it. Ampersands (<code>&</code>) are not stripped out, so include them if you're looking for law firms!</dd>

        <dt>What does the y-axis mean exactly?</dt>
        <dd>The y-axis represents the frequency of each phrase, as a percentage of all phrases that contain the same number of words. For example, if you search for <code>from New York</code>, the graph shows the number of times those words appear in exact order, divided by the total number of 3 word phrases in all of the articles</dd>

        <dt>And what is "smoothing"?</dt>
        <dd>Smoothing is a way to take moving averages, which can help identify trends in noisy data. If you set smoothing to 1, it means that at each year, the value graphed is the average of that year and the 1 year before and after. In general smoothing 1 is a good default, sometimes for less common terms you might want to use smoothing 2, or if you want to see the raw data, then smoothing 0</dd>

        <dt>Any other cool features?</dt>
        <dd>Sure, if you want to get fancy, you can use <code>+</code> and <code>/</code> to build advanced searches. Check out some of the recommended searches for examples</dd>

        <dt>What's the deal with the word clouds?</dt>
        <dd>Each <a href="/wordclouds">word cloud</a> contains the phrases that were most common in announcements from a particular decade relative to the other decades</dd>
        
        <dt>Where can I learn more about ngrams?</dt>
        <dd><a href="http://en.wikipedia.org/wiki/N-gram" target="_blank">Wikipedia</a> and the <a href="http://books.google.com/ngrams/info" target="_blank">Google Books Ngram Viewer</a> are good places to start</dd>

        <dt>How can I contact you?</dt>
        <dd>weddingcrunchers@gmail.com</dd>
      </dl>
    </div>
  </div>
</div>