<div class="span12">
  <div class="page-header">
    <h1>
      <a href="/" class="logo">Jeopardy! N-Grams</a><br>
      
      <!-- <small id="tagline">
        I'll take <span class="rotating keep">blank</span> for $500, Alex
        <i class="icon-refresh refreshTagline"></i>
      </small> -->
    </h1>
    
    <!-- <div class="moreInfo">
      Read the full writeup on ...
       | <%= link_to "About", "/about" %>
    </div> -->
  </div>
  
  <p>
    Enter some <span class="hasPopover comma-separated">comma-separated</span> phrases to search:
    <!-- <a id="randomSearch" href="/" tabindex="1">(or just show me a good search! <i class="icon-refresh"></i>)</a> -->
  </p>

  <div class="form-container">
    <% form_tag "/ngrams/ngram_calculator", :method => :get, :"data-remote" => true, :id => 'ngramForm' do %>
      <div class="searchQuery">
        <div class="input-append">
          <input class="collapsed" id="q" maxlength="10000" name="q" tabindex="2" type="search" style="width: 128px;">
          <%= submit_tag "Search Jeopardy Questions!", :id => "ngramSubmit", :class => "btn", :tabindex => 3 %>
        </div>
      </div>
      
      <div class="smoothingInput">
        <label for="s" class="smoothing">Smoothing <span class="hasPopover">(?)</span>:</label>
        <input id="s" max="5" min="0" name="s" tabindex="4" type="number" value="<%= params[:s] || 1 %>">
      </div>
      
      <div class="socialLinks">
        <span id="tweetButton"></span>
        <!-- <div class="fb-like" data-href="http://www.weddingcrunchers.com" data-width="90" data-layout="button_count" data-show-faces="false" data-send="false"></div> -->
        <span id="exportGraph" class="btn btn-mini">Save Graph</span>
      </div>

      <%= hidden_field_tag :blank, params[:blank] %>
    <% end %>
  </div>
  
  <div class="clearfix"></div>
  
  <div id="ngramContainer"></div>

  <div id="articleSummaries"></div>
</div>