<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Jeopardy! Game #<%= @game.game_id %> (<%= @game.airdate %>)</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<%= javascript_include_tag :defaults -%>
		<%= stylesheet_link_tag 'main' -%>
	</head>

	<body id="board" style="margin:15px;padding:0px">

		<div id="single_jeopardy">
		<table align="center">
			<tr>
			<% for cat in @single %>
				<td width="250px;"><span id="category_title"><%= cat %></span></td>
			<% end %>
			</tr>
			<% for j in (1..5) %>
				<tr height="50px">
				<% for i in (1..6) %>
						<td>
							<% begin %>
								<% the_q = @questions.select {|a| a.coord == 'J,' + i.to_s + ',' + j.to_s}[0] %>
							<% form_remote_tag :url => { :action => 'update', :controller => 'edit'}, :update => 'outcomeJ,' + i.to_s + ',' + j.to_s do -%>
								<input name="q_id" type="hidden" value="<%= the_q.id %>">
								<input id="edit_value" name="value" type="text" cols=4 value="<%= the_q.value %>">
								<textarea id="edit_question" name="question" style="<%= (the_q.question == '' ? 'border: 3px solid red;' : '')%>"><%= the_q.question %></textarea>
								<input id="edit_answer" name="answer" type="password" value="<%= the_q.answer %>"><span id="<%= 'outcomeJ,' + i.to_s + ',' + j.to_s %>"><%= @outcome %></span>
								<%= submit_tag 'update', :id => 'update', :style => 'display:none' %>
							<% end -%>
							<% rescue %>
								<% the_q = Question.new(:game_id => @game.game_id, :coord => 'J,' + i.to_s + ',' + j.to_s, :value => (200 * j).to_s, :question => '', :answer => '' ) %>
								<% the_q.save! %>
								<% form_remote_tag :url => { :action => 'update', :controller => 'edit'}, :update => 'outcomeJ,' + i.to_s + ',' + j.to_s do -%>
								<input name="q_id" type="hidden" value="<%= the_q.id %>">
								<input id="edit_value" name="value" type="text" cols=4 value="<%= the_q.value %>">
								<textarea id="edit_question" name="question" style="<%= (the_q.question == '' ? 'border: 3px solid red;' : '')%>"><%= the_q.question %></textarea>
								<input id="edit_answer" name="answer" type="password" value="<%= the_q.answer %>"><span id="<%= 'outcomeJ,' + i.to_s + ',' + j.to_s %>"><%= @outcome %></span>
									<%= submit_tag 'update', :id => 'update', :style => 'display:none' %>
								<% end -%>
								
							<% end %>
							

					
						</td>
				<% end %>
		
				</tr>
			<% end %>
		</table></div><br/><br/><hr/><br/><br/>

		<div id="double_jeopardy">
		<table align="center">
			<tr>
			<% for cat in @double %>
				<td width="250px;"><span id="category_title"><%= cat %></span></td>
			<% end %>
			</tr>
			<% for j in (1..5) %>
				<tr height="50px">
				<% for i in (1..6) %>
						<td>
							<% begin %>
								<% the_q = @questions.select {|a| a.coord == 'DJ,' + i.to_s + ',' + j.to_s}[0] %>
							<% form_remote_tag :url => { :action => 'update', :controller => 'edit'}, :update => 'outcomeDJ,' + i.to_s + ',' + j.to_s do -%>
								<input name="q_id" type="hidden" value="<%= the_q.id %>">
								<input id="edit_value" name="value" type="text" cols=4 value="<%= the_q.value %>">
								<textarea id="edit_question" name="question" style="<%= (the_q.question == '' ? 'border: 3px solid red;' : '')%>"><%= the_q.question %></textarea>
								<input id="edit_answer" name="answer" type="password" value="<%= the_q.answer %>"><span id="<%= 'outcomeDJ,' + i.to_s + ',' + j.to_s %>"><%= @outcome %></span>
								<%= submit_tag 'update', :id => 'update', :style => 'display:none' %>
							<% end -%>
							<% rescue %>
								<% the_q = Question.new(:game_id => @game.game_id, :coord => 'DJ,' + i.to_s + ',' + j.to_s, :value => (400 * j).to_s, :question => '', :answer => '' ) %>
								<% the_q.save! %>
								<% form_remote_tag :url => { :action => 'update', :controller => 'edit'}, :update => 'outcomeDJ,' + i.to_s + ',' + j.to_s do -%>
								<input name="q_id" type="hidden" value="<%= the_q.id %>">
								<input id="edit_value" name="value" type="text" cols=4 value="<%= the_q.value %>">
								<textarea id="edit_question" name="question" style="<%= (the_q.question == '' ? 'border: 3px solid red;' : '')%>"><%= the_q.question %></textarea>
								<input id="edit_answer" name="answer" type="password" value="<%= the_q.answer %>"><span id="<%= 'outcomeDJ,' + i.to_s + ',' + j.to_s %>"><%= @outcome %></span>
									<%= submit_tag 'update', :id => 'update', :style => 'display:none' %>
								<% end -%>
								
							<% end %>
							
					
						</td>
				<% end %>
		
				</tr>
			<% end %>
		</table></div>

	
	</body>
</html>

