<%= javascript_include_tag "jquery-1.3.2.min.js" -%>

<style type="text/css">
	input::-webkit-input-placeholder {
		text-align: center;
	}
	
	input:-moz-placeholder {
		text-align: center;
	}
</style>

<% if (a = flash[:alert]) %>
	<div id="flash_alert">
		<%= a %>
	</div>
<% end %>

<div id="landing" style="margin:0 auto; width: 800px; text-align: center; margin-top: 100px; font-size: 32px;">
	<form action="/stats/pairwise_results" method="post" id="go">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input id="player_1" name="player_1" type="text" class="inactive" onkeypress="keypress(this)" onfocus="enterTextbox(this)" onblur="leaveTextbox(this, 'Player 1')" value="Player 1" style="font-size: 28px; width: 350px; padding: 5px; text-align: center;"/>
		<br/>
			<span style="color: #777">vs.</span><br/>
		<input id="player_2" name="player_2" type="text" class="inactive" onkeypress="keypress(this)" onfocus="enterTextbox(this)" onblur="leaveTextbox(this, 'Player 2')" value="Player 2" style="font-size: 28px; width: 350px; padding: 5px; text-align: center;"/><br/><br/>
		<div id="play_now_button" style="float: none; margin: 0 auto;">
			<a href="#" id="fight">Fight!</a>
		</div>
	</form>
</div>

<script type="text/javascript">
$(document).ready(function() {
	
	$("#fight").click(function() {
		$("#go").submit();
		return false;
	})
	
	$("input[type=text]").keypress(function(e) {
		if (e.keyCode == "13") {
			$("#go").submit();
		}
	})
});
</script>